[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=9.0.3,<10"
freezegun = "*"
pylint = "*"
pep8 = "*"
black = ">=26.3.1,<27"
python-semantic-release = ">=10,<11"
more-itertools = "*"

[packages]
paho-mqtt = "*"
pyserial = "*"
PyYAML = ">=6,<7"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true