[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
freezegun = "*"
pylint = "*"
pep8 = "*"
black = "*"
python-semantic-release = "*"
more-itertools = "*"
py = "*"

[packages]
paho-mqtt = "*"
pyserial = "*"
PyYAML = ">=5.4"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
